<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Console.log</Title>
    <Author>Microsoft Corporation</Author>
    <Shortcut>lo</Shortcut>
    <Description>Code snippet for console.log</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript"><![CDATA[console.log($end$);]]></Code>
  </Snippet>
</CodeSnippet>