<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Jasmine It</Title>
    <Author>Microsoft Corporation</Author>
    <Shortcut>it</Shortcut>
    <Description>Code snippet a unit test "it"</Description>
    <SnippetTypes>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript">
		 <![CDATA[it('$end$', ()=> {
		
		});]]>
	</Code>
  </Snippet>
</CodeSnippet>