<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Jasmine expect()</Title>
    <Author>Jon Gunter</Author>
    <Shortcut>ex</Shortcut>
    <Description>Code snippet a unit test "expect"</Description>
    <SnippetTypes>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript">
		 <![CDATA[expect($end$).toBe(true)]]>
	</Code>
  </Snippet>
</CodeSnippet>