<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>$rootScope.$digest()</Title>
    <Author>Jon Gunter</Author>
    <Shortcut>dc</Shortcut>
    <Description>Code snippet for $rootScope.$digest()</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript"><![CDATA[$$rootScope.$$digest();$end$]]></Code>
  </Snippet>
</CodeSnippet>